<div class="container mt-5">

  <div class="row d-flex justify-content-center">

    <div class="col-md-7">

      <div class="card p-3 py-4">

        <div class="text-center">
        </div>

        <div class="text-center mt-3">
          <h3 class="mt-2 mb-0">Alexender Schidmt</h3>
          <span>UI/UX Designer</span>

          <div class="px-4 mt-1">
            <p class="fonts">blabla </p>
      </div>
          <div>
            <br>
            <h3>Meine gebuchten Nachhilfe-Termine</h3>
            <div class="py-5">
              <div class="container">
                <div class="row">
               <!--   <div class="col-md-4" *ngFor="let appointment of offer?.appointments; last as l">-->
                      <div class="card-block">
                      <!--  <h4 class="card-title">{{appointment.date}}</h4>-->
                        <br>
                      </div>
                  </div>
                </div><br>
              </div>
            </div>
          </div>

    </div>

  </div>

</div>
